/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.logo-img { margin-right: 0; }
img#logo {max-width:100%;}
body, h1, h2, h3, h4, h5, h6 {
font-family: Helvetica, Arial, sans-serif;
color: #464646;
}
img.image-left, p.image-left img, img.image-right, p.image-right img { float: none; display: block; width: auto; margin: 0 auto 1.5em; }
h1, h2, h3, h4, h5, h6 {
text-transform: uppercase; line-height: 1.1em;
}
h1, h1#page-title {font-size:2.2em;}
h2 {font-size:1.8em;}
#zone-user a {color: white;}
a#login-link {font-size: .9em; text-transform: uppercase;}
a#facebook-link {font-size: 1.1em;}
a#twitter-link {font-size: 1.2em;}
#zone-user ul {text-align: right; margin: 0; padding: 10px;}
#zone-user ul li {
display: inline;
padding: 0 5px;
}
#zone-menu-wrapper {
background: rgba(255,255,255,0.5);
height: 45px;
}
.om-leaf {
font-size: 1.2em;
}
/*.om-maximenu ul.om-menu li.om-leaf .om-link {
padding: 7px 17px;
}*/

#zone-branding {
padding: 27px 0 20px;
}
.not-front #zone-content-wrapper {
background: white;
width: 100%;
}
#region-content {
padding-top:20px;
font-size:1.1em;
}
#zone-postscript-wrapper {
background: white;
}
a:link, a:visited, a:hover, a:active {text-decoration:none;}

#zone-footer-wrapper.fixed { position: fixed; left: 0; bottom: 0; width: 100%; }
.page-user #zone-user-wrapper, .page-user #zone-footer-wrapper, .front #zone-user-wrapper, .front #zone-footer-wrapper {background-color:#A31A22;}
.sitearea-about #zone-user-wrapper, .sitearea-about #zone-footer-wrapper {background-color:#E64A1A;}
.sitearea-children #zone-user-wrapper, .sitearea-children #zone-footer-wrapper {background-color:#EAAF21;}
.sitearea-join #zone-user-wrapper, .sitearea-join #zone-footer-wrapper {background-color:#01451E;}
.sitearea-involve #zone-user-wrapper, .sitearea-involve #zone-footer-wrapper {background-color:#0B1C80;}
.sitearea-news #zone-user-wrapper, .sitearea-news #zone-footer-wrapper {background-color:#6E0B53;}

#region-user-second {float:right;}

#region-sidebar-second {
padding: 30px;
}
.sitearea-about #region-sidebar-second {background: rgba(230,74,25,0.2);}
.sitearea-children #region-sidebar-second {background: rgba(234,176,33,0.2);}
.sitearea-join #region-sidebar-second {background: rgba(1,69,30,0.2);}
.sitearea-involve #region-sidebar-second {background: rgba(10,28,128,0.2);}
.sitearea-news #region-sidebar-second {background: rgba(111,11,83,0.2);}

.sitearea-about #block-system-main {border-top: solid 2px #E64A1A;}
.sitearea-children #block-system-main {border-top: solid 2px #EAAF21;}
.sitearea-join #block-system-main {border-top: solid 2px #01451E;}
.sitearea-involve #block-system-main {border-top: solid 2px #0B1C80;}
.sitearea-news #block-system-main {border-top: solid 2px #6E0B53;}
#block-system-main {padding-top: 6px;}

.om-maximenu ul.om-menu { width: 100%; }
.om-maximenu ul.om-menu li.om-leaf { position: static; }
.om-maximenu .om-maximenu-content { width: 100%; }
/* .om-link:hover, .om-link:active {color:white; font-weight:bold;} */

.om-maximenu-content a, .om-maximenu-content li a.active {color:#464646;}
.om-maximenu-content a:hover {color:#959595;}

.leaf-about-us .om-maximenu-content {border: solid 2px #E64A1A;}
.leaf-legislative-agenda .om-maximenu-content {border: solid 2px #EAAF21;}
.leaf-join-the-alliance .om-maximenu-content {border: solid 2px #01451E;}
.leaf-get-involved .om-maximenu-content {border: solid 2px #0B1C80;}
.leaf-news .om-maximenu-content {border: solid 2px #6E0B53;}

.leaf-home {background-color: #A31A22; color:white; font-weight: bold;}
.leaf-about-us {background-color: #E64A1A; color:white; font-weight: bold;}
.leaf-legislative-agenda {background-color: #EAAF21; color:white; font-weight:bold;}
.leaf-join-the-alliance {background-color: #01451E; color:white; font-weight:bold;}
.leaf-get-involved {background-color: #0B1C80; color:white; font-weight:bold;}
.leaf-news {background-color: #6E0B53; color:white; font-weight:bold;}

.om-maximenu-content {font-weight: normal; color: #464646; font-size: .9em; }
.om-maximnue-middle-right, .om-maximenu-no-style .om-maximenu-middle-right {padding: 0;}
.om-maximenu-middle-right .block.first, .om-maximenu-middle-right .block.last, .block-block-id-17 {background: #ebedf0;}
.om-maximenu-content ul li {list-style-image: none; list-style-type: none;}

.om-maximenu ul.om-menu li.om-leaf .om-link { width: 100%; height: 45px; line-height: 45px; position: relative; padding: 0; text-align: center; }

.front a.om-link.link-home.active.om-autoscroll {color:white;}
.not-front a.om-link.link-home.om-autoscroll {color:white;}
.not-front a.om-link.link-home.om-autoscroll:hover {color:#fff;}

.js #om-maximenu-mega-menu {}

#region-menu { margin-left: 0; margin-right: 0; }
#navicon {font-size: 1.6em; padding: 7px; margin-left: 10px;}
ul#om-menu-mega-menu.collapsed {position:absolute; left:-999em;}
/* ul#om-menu-mega-menu.expanded {background:white; height:225px;} */
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf {float:none;}
.om-maximenu .om-maximenu-content {position:relative;}
.om-maximenu-open {display:none;}

.front .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.leaf-home { display: none; }

/* For accordian effect in mobile menu */
.om-maximenu.om-maximenu-block ul.om-menu, .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf, .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link { float: none; height: auto; }
.om-maximenu .om-maximenu-content { position: relative; top: auto; left: auto; width: auto; min-width: 0; }
.om-maximenu-content .block { padding: 5px; }
.om-maximenu-content .block h3 { font-size: 16px; margin-bottom: 0; }
.om-maximenu-content .view-content h3 { text-transform: none; }
.js .om-maximenu .om-maximenu-content .block .content { display: none; }
.js .om-maximenu .om-maximenu-content .block .content.expanded { display: block; }
.om-maximenu-content .block p { margin-bottom: 10px; }
.om-maximenu-content .block p:last { margin-bottom: 0; }
.om-maximenu-content .block .view-content p:last { margin-bottom: 10px; }
.om-maximenu .views-field-view-node { margin-bottom: 20px; }



/*
.sitearea-about
.sitearea-children
.sitearea-join
.sitearea-involve
.sitearea-news
*/

#zone-footer-wrapper {color:white; padding-top:20px; line-height:1.5em; text-align:center;}

/* FORMS */
#region-sidebar-second .block-webform { margin-bottom: 30px; }
/* .view-petition article header {display:none;} */
.view-petition article header h2 { font-size: 18px; }
.view-petition article header h2 a { color: #464646; }
.js #region-sidebar-second label {display:none;}
#region-sidebar-second input, #om-maximenu-mega-menu input {
max-width: 100%;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border: solid 1px #0A1C80;
}
button, input[type="reset"], input[type="submit"], input[type="button"] {
background:#0A1C80;
color:#FFFFF0;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
text-shadow:none;
padding: 10px 40px;
float: right;
}
a.button {padding:10px 20px;background:#0A1C80; border:none; color:#FFFFF0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#region-sidebar-second .form-actions input:hover, #om-maximenu-mega-menu .form-actions input:hover, a.button:hover {
background:#0C23A1;
}

/* HOMEPAGE */
.front h1#page-title {display:none;}
.front .region-content-inner {background: rgba(255, 255, 255, .5); padding:20px;}
#zone-postscript-wrapper { color: #FFFFF0; }
#zone-postscript .region {margin: 10px;}
#zone-postscript h2 {color:#FFFFF0; padding:5px 20px; text-align:left;}
#zone-postscript h3 {margin:0px 0 15px; clear:both; line-height: 1.1em;}
#zone-postscript p, #zone-postscript .quicktabs-tabpage ul li {font-size:1em; line-height:1.1em;}
#region-postscript-first .content, #region-postscript-third .content, .quicktabs-tabpage .content {padding:5px;}
#region-postscript-first h2 {background: #E64A19;}
#region-postscript-first .content {background: #EF8869;}
#region-postscript-second a { color: #FFCCFF; }
#region-postscript-second .item-list {background: #6F0B53; font-size:1.6em; height: 37px;}
#region-postscript-second .item-list ul li {margin-left: 5px;}
#region-postscript-second .content, #region-postscript-second li.active {background: #A05E8E;}
ul.quicktabs-tabs li {font-size:17px; padding: 6px 3px; font-weight:bold;}
#region-postscript-third a { color: #CCCCFF; }
#region-postscript-third h2 {background: #0A1C80;}
#region-postscript-third .content {background: #5F68AB;}
#region-postscript-second .item-list ul {padding-top:5px;}
#region-postscript-second .item-list ul li a {color: #DAD0FB;}
#region-postscript-second .item-list ul li a.active {color: #FFFFF0; padding: 5px;}
#block-quicktabs-social-feeds h2 {display:none;}

.front #region-sidebar-second {
background: rgba(255,255,255,.5);
margin-bottom: 20px;
}

.addtocal {background:#0A1C80; border:none; color:#FFFFF0;}
.no-touch .addtocal:hover {background:#0C23A1;}
#region-postscript-third ul.addtocal_menu li a {color:#0A1C80;}
.views-field-field-event-date { margin: 15px 0; }
.view-events .views-row {margin-bottom:50px;}
.view-events .views-row-last {margin-bottom:0;}

/* EVENT PAGES */

.field-name-field-event-date, .field-name-field-salsa-link { margin: 25px 0; }
.field-name-field-salsa-link a {padding:10px 20px;background:#0A1C80; border:none; color:#FFFFF0; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.no-touch .field-name-field-salsa-link a:hover {background:#0C23A1;}

/* ISSUE TEMPLATE */
.field-name-field-issue-public-policy, .field-name-field-issue-who, .field-name-field-links, .field-name-field-issue-priority {
margin-bottom: 15px;
}
.field-name-field-issue-public-policy .field-label, .field-name-field-issue-who .field-label, .field-name-field-links .field-label, .node-issue .field-name-field-file-attachment .field-label {
background: #EAAF21;
padding: 10px;
color: white;
font-size: 1.3em;
}
.field-name-field-links a {color:#464646;}
.field-name-field-links a:hover {color: #959595;}

.field-name-field-issue-priority .field-label {
width: 55%;
float: right;
background: #EAAF21;
padding: 31px 5%;
}
.field-name-field-issue-priority .field-items {
font-size: 2em;
color: white;
background: #F0CC6E;
width: 35%;
text-align: center;
padding: 20px 0;
}
.field-name-field-file-attachment {
clear: both;
margin-bottom: 15px;
}
.field-name-field-issue-public-policy .field-items, .field-name-field-issue-who .field-items, .field-name-field-links .field-items {
background: #F0CC6E;
padding: 10px;
}
.views-field-field-issue-take-action {
margin-bottom: 20px;
}
.views-field-field-issue-take-action a {
font-weight: bold;
font-size: 1.15em;
background: #0b1c80;
color: white;
padding: 15px 40px;
border-radius: 5px;
display: inline-block;
}
.views-field-field-issue-quote {
font-family: 'Kotta One';
color: #959595;
font-size: 1.15em;
}

/* ISSUE SUMMARY PAGE */

#block-system-main .node-teaser { margin-bottom: 50px; }
.node-teaser h2.node-title { font-size: 24px; }
.node-teaser .links ul.inline li.first { padding-left: 0; }

/* BLOG NODES TEMPLATE */
.node-blog h2 {
text-transform: none;
}
.node-blog a {
color: #6E0B53;
}
.node-blog .user-picture {
float: left;
margin-right: 10px;
margin-bottom: 20px;
}
.node-blog .field-label {
margin-right: 3px;
}
.submitted-date {
width: 120px;
float: right;
text-align: right;
font-weight: bold;
padding-top: 10px;
}
.submitted-name {
width: 120px;
float: left;
font-weight: bold;
}
.submitted-issue{
max-width: 300px;
float: left;
font-weight: bold;
}
.submitted-issue .field-label-inline .field-items { float: none; }
.node-blog .content {
clear: both;
}
.node-blog .field-name-field-file-attachment .field-label {
background: #6E0B53;
padding: 10px;
color: white;
font-size: 1.3em;
}
#footer .logo a, #disqus-thread li.install, .node-blog nav.node-links {display:none;}

/* BLOG PAGE */
.page-blog.sitearea-news #block-system-main {border-top: none;}
.page-blog a:link, .page-blog a:visited, .page-blog .views-field-title a:hover {color: #6E0B53;}
.page-blog .views-field-title a {color: #464646;}
.page-blog .views-field-view-node {font-weight: bold; float: right;}
.page-blog .views-row {margin-bottom: 30px;}
.page-blog .views-field h2 {border-bottom: solid #6E0B53; margin-bottom: 5px;}
.page-blog .views-field-created {float: right; font-weight: bold;}
.page-blog .views-field-name {float: left;}
.page-blog .views-field-picture {clear: left; float: left; margin-right: 15px;}
.page-blog .views-field-body {clear: right;}
#block-views-blog-block-2 .view-content {margin-bottom: 80px;}

/* PRINT STYLES */
@media print {
	.backstretch { display: none !important; }
}
