/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
.front .branding-data { width: 580px; }
.not-front .branding-data { width: 640px; }

/* MEGA MENU */
/*.om-maximenu ul.om-menu li.om-leaf .om-link {
padding: 7px 35px;
}*/


li.om-leaf.leaf-home {width: 90px;}
.front li.om-leaf.leaf-home { background: #A31A22; color: #fff !important; font-weight: bold; width: 90px; }
.front li.om-leaf.leaf-home .om-link:after { border-top: 19px solid #A31A22; border-left: 45px solid transparent; border-right: 45px solid transparent; }
.no-touch li.om-leaf.leaf-home:hover .om-link:after { border-top: 19px solid #A31A22; border-left: 45px solid transparent; border-right: 45px solid transparent; z-index:501;}


li.leaf-about-us .om-maximenu-content h3 {color: #E64A1A;}
li.om-leaf.leaf-about-us {width: 120px;}
.sitearea-about li.om-leaf.leaf-about-us { background: #E64A1A; color: #fff; font-weight: bold; width: 120px; }
.sitearea-about li.om-leaf.leaf-about-us .om-link:after { border-top: 19px solid #E64A1A; border-left: 60px solid transparent; border-right: 60px solid transparent; }
.no-touch li.om-leaf.leaf-about-us:hover .om-link:after { border-top: 19px solid #E64A1A; border-left: 60px solid transparent; border-right: 60px solid transparent; }
li.om-leaf.leaf-about-us.open .om-link:after { border-top: 19px solid #E64A1A; border-left: 60px solid transparent; border-right: 60px solid transparent; }

li.leaf-legislative-agenda .om-maximenu-content h3 {color: #EAAF21;}
li.om-leaf.leaf-legislative-agenda {width: 170px;}
.sitearea-children li.om-leaf.leaf-legislative-agenda { background: #EAAF21; color: #fff; font-weight: bold; width: 170px; }
.sitearea-children li.om-leaf.leaf-legislative-agenda .om-link:after { border-top: 19px solid #EAAF21; border-left: 85px solid transparent; border-right: 85px solid transparent; }
.no-touch li.om-leaf.leaf-legislative-agenda:hover .om-link:after { border-top: 19px solid #EAAF21; border-left: 85px solid transparent; border-right: 85px solid transparent; }
li.om-leaf.leaf-legislative-agenda.open .om-link:after { border-top: 19px solid #EAAF21; border-left: 85px solid transparent; border-right: 85px solid transparent; }

li.leaf-join-the-alliance .om-maximenu-content h3 {color: #01451E;}
li.om-leaf.leaf-join-the-alliance {width: 160px;}
.sitearea-join li.om-leaf.leaf-join-the-alliance { background: #01451E; color: #fff; font-weight: bold; width: 160px; }
.sitearea-join li.om-leaf.leaf-join-the-alliance .om-link:after { border-top: 19px solid #01451E; border-left: 80px solid transparent; border-right: 80px solid transparent; }
.no-touch li.om-leaf.leaf-join-the-alliance:hover .om-link:after { border-top: 19px solid #01451E; border-left: 80px solid transparent; border-right: 80px solid transparent; }
li.om-leaf.leaf-join-the-alliance.open .om-link:after { border-top: 19px solid #01451E; border-left: 80px solid transparent; border-right: 80px solid transparent; }

li.leaf-get-involved .om-maximenu-content h3 {color: #0B1C80;}
li.om-leaf.leaf-get-involved {width: 140px;}
.sitearea-involve li.om-leaf.leaf-get-involved { background: #0B1C80; color: #fff; font-weight: bold; width: 140px; }
.sitearea-involve li.om-leaf.leaf-get-involved .om-link:after { border-top: 19px solid #0B1C80; border-left: 70px solid transparent; border-right: 70px solid transparent; }
.no-touch li.om-leaf.leaf-get-involved:hover .om-link:after { border-top: 19px solid #0B1C80; border-left: 70px solid transparent; border-right: 70px solid transparent; }
li.om-leaf.leaf-get-involved.open .om-link:after { border-top: 19px solid #0B1C80; border-left: 70px solid transparent; border-right: 70px solid transparent; }

li.leaf-updates .om-maximenu-content h3 {color: #6E0B53;}
li.om-leaf.leaf-updates {width: 90px;}
.sitearea-news li.om-leaf.leaf-updates { background: #6E0B53; color: #fff; font-weight: bold; width: 90px; }
.sitearea-news li.om-leaf.leaf-updates .om-link:after { border-top: 19px solid #6E0B53; border-left: 45px solid transparent; border-right: 45px solid transparent; }
.no-touch li.om-leaf.leaf-updates:hover .om-link:after { border-top: 19px solid #6E0B53; border-left: 45px solid transparent; border-right: 45px solid transparent; }
li.om-leaf.leaf-updates.open .om-link:after { border-top: 19px solid #6E0B53; border-left: 45px solid transparent; border-right: 45px solid transparent; }

.om-maximenu .om-maximenu-content { width: 936px; }
.om-maximenu-content .block {
width:274px;
float:left;
padding:19px;
}
.om-maximenu-content .block-menu-id-menu-childrens-agenda { width: 540px; }
.om-maximenu-content .block-block-id-17, .om-maximenu-content .block-block-id-5.last { width: 315px; background: white; }
/*
.om-maximenu-content .block.last {
margin-left: 1px;
}
*/
#region-sidebar-second {
width: 240px;
padding: 30px;
}
.om-maximenu ul.om-menu li.om-leaf {
margin: 0 26px 0 0;
}
/* END MEGA MENU */

/* HOMEPAGE */
.front .region-content-inner { margin-right: 60px; }
#region-postscript-first .content, #region-postscript-third .content, .quicktabs-tabpage .content {padding: 20px;}
#region-postscript-second .item-list ul li {margin-left: 15px;}
/* END HOMEPAGE */

/* ISSUE TEMPLATE */
/*
.field-name-field-issue-public-policy, .field-name-field-issue-who, .field-name-field-links, .field-name-field-issue-priority {
width: 250px;
float: left;
margin: 30px;
}

.field-name-field-issue-priority .field-items {
padding: 33px;
text-indent: -10px;
}
.field-name-field-issue-priority .field-label {
width: 155px;
padding: 44px 17px;
}
.field-name-field-file-attachment {
width: 575px;
}
*/

/* END ISSUE TEMPLATE */

.node-blog .submitted-name {width: 270px;}

